<% revision = post.active_revision %>
<section>
  <header>
    <h1><%= link_to revision.title, revision.full_url %></h1>
    <time datetime="<%= revision.published_at %>">
      <%= revision.published_at.to_date.to_formatted_s(:short) %>
    </time><%= @revision.user.name %> <a href="<%= revision.full_url + "#disqus_thread" %>"></a>
  </header>

  <p><%= raw revision.content %></p>


</section>
